{% extends 'base.html.twig' %}

{% block title %}Top lankomiausiu!{% endblock %}

{% block body %}

    {% include 'Web/announcement/_menu.html.twig ' %}

<div class="example-wrapper">
    <h1>Top lankomaiusiu! ✅</h1>

    {% if announcements %}
    {% for announc in announcements  %}
        <div>
            <stron><a href="{{ path('announcement', {'id': announc.id}) }}">{{ announc.name }} - {{ announc.publishedAt|date('Y-m-d H:i:s') }}</a></stron>
            <div>
                {{ announc.description|truncate(50, true, '...') }}
            </div>
            <div>&nbsp;</div>
        </div>
    {% endfor %}
    {% else %}
        Trūksta statistikos
    {% endif %}
</div>

{% endblock %}
